{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="icon" href='/static/assets/images/afc-logo.png' type="image/x-icon"/>
    <title>AFC</title>
    <link rel="apple-touch-icon" href='/static/assets/images/afc-logo.png'/>
    <meta name="theme-color" content="#122636"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-title" content="fuzzy"/>
    <meta name="msapplication-TileImage" content='/static/assets/images/afc-logo.png'/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet"/>

    <!-- iconsax css -->
    <link rel="stylesheet" href='/static/assets/css/vendors/iconsax.css'/>
    <!-- bootstrap css -->
    <link rel="stylesheet" id="rtl-link" href='/static/assets/css/vendors/bootstrap.min.css'/>
    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" href='/static/assets/css/style.css'/>
</head>

<body>
{% csrf_token %}
<!-- header start -->
<header class="section-t-space">
    <div class="custom-container">
        <div class="header-panel">
            <a href="/">
                <i class="iconsax back-btn" data-icon="arrow-left"></i>
            </a>
            <h3>Cart</h3>
        </div>
    </div>
</header>
<!-- header end -->

<!-- cart section start -->
<section>
    <div class="custom-container">
        <ul class="horizontal-product-list">
            {% for cart_detail in cart_details %}
                <li class="cart-product-box">
                    <div class="horizontal-product-box">
                        <div class="horizontal-product-img">
                            <a href="/product/{{ cart_detail.product_id }}">
                                <img class="img-fluid img" src="https://joinposter.com{{ cart_detail.info.photo }}"
                                     alt="p11"/>
                            </a>
                        </div>
                        <div class="horizontal-product-details">
                            <div class="d-flex align-items-center justify-content-between">
                                <a href="/product/{{ cart_detail.product_id }}">
                                    <h4>{{ cart_detail.info.product_name }}</h4>
                                </a>
                                <i class="iconsax trash" data-icon="trash"
                                   data-product-id="{{ cart_detail.product_id }}"></i>
                            </div>
                            <ul class="product-info">
                                <li id="cart-quantity-{{ cart_detail.product_id }}">Soni
                                    : {{ cart_detail.quantity }}</li>
                                {% if cart_detail.modification_id is not 0 %}
                                    {% if cart_detail.info.group_modifications %}
                                        {% for modification in cart_detail.info.group_modifications.0.modifications %}
                                            {% if cart_detail.modification_id == modification.dish_modification_id %}
                                                <li>{{ modification.name }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    {% elif cart_detail.info.modifications %}
                                        {% for modification in cart_detail.info.modifications %}
                                            {% if cart_detail.modification_id == modification.modificator_id %}
                                                <li>{{ modification.modificator_name }}</li>
                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}
                                {% endif %}
                            </ul>

                            <div class="d-flex align-items-center justify-content-between mt-3">
                                <div class="d-flex align-items-center gap-2">
                                    <h3 class="fw-semibold">
                                        {% if cart_detail.modification_id != '0' %}
                                            {% if cart_detail.info.modifications %}
                                                {% for modification in cart_detail.info.modifications %}
                                                    {% if modification.modificator_id == cart_detail.modification_id %}
                                                        <span class="price-number">{{ modification.sources.0.price|slice:":-2" }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {% if cart_detail.info.group_modifications|length > 1 %}
                                                    <span class="price-number">{{ cart_detail.info.price.1|slice:":-2" }}</span>
                                                {% else %}
                                                    {% if cart_detail.info.group_modifications.0.type == 1 %}
                                                        {% for modification in cart_detail.info.group_modifications.0.modifications %}
                                                            {% if modification.dish_modification_id == cart_detail.modification_id %}
                                                                <span class="price-number">{{ modification.price }}</span>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {% if cart_detail.info.group_modifications.0.num_max == cart_detail.info.group_modifications.0.num_min %}
                                                            <span class="price-number">{{ cart_detail.info.price.1|slice:":-2" }}</span>
                                                        {% else %}
                                                            {% for modification in cart_detail.info.group_modifications.0.modifications %}
                                                                {% if modification.dish_modification_id == cart_detail.modification_id %}
                                                                    <span class="price-number">{{ modification.price }}</span>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endif %}



                                                {% endif %}

                                            {% endif %}

                                        {% else %}
                                            <span class="price-number">{{ cart_detail.info.sources.0.price|slice:":-2" }}</span>
                                        {% endif %}
                                        <span class="light-text fw-normal">so'm</span>
                                    </h3>
                                </div>
                                <div class="plus-minus">
                                    <button class="sub plus-minus-button">
                                        <i class="iconsax" data-icon="minus"></i>
                                    </button>
                                    <input type="number" value="{{ cart_detail.quantity }}" min="1" max="10"
                                           data-product-id="{{ cart_detail.product_id }}"/>
                                    <button class="add plus-minus-button">
                                        <i class="iconsax" data-icon="add"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}

        </ul>
    </div>
</section>
<!-- cart section end -->

<!-- cart bottom start -->
<div class="pay-popup">
    <div class="price-items">
        <h6>Umumiy narx</h6>
        <h2 id="cart-total"><span class="price-number">{{ cart_total|slice:":-2" }}</span> so'm</h2>
    </div>
    <button type="button" class="btn btn-lg theme-btn pay-btn mt-0" data-bs-toggle="modal" data-bs-target="#myModal">
        Jo'natish
    </button>
</div>
<!-- cart bottom end -->

<!-- panel-space start -->
<section class="panel-space"></section>
<!-- panel-space end -->


<div class="modal fade success-modal" id="success" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="confirm-title text-center">
                    <img class="img-fluid confirm-offer" src="/static/assets/images/gif/success.gif"
                         alt="success-payment"/>

                    <h2 class="theme-color text-center fw-medium mt-2">Buyurtmangiz jo'natildi</h2>
                    <h5 class="light-text fw-normal lh-base text-center w-100 mt-2 mx-auto">Buyurtmangizni ofitsiant
                        tasdiqlashini kuting</h5>
                </div>

                <a href="/" class="btn theme-btn w-100 mt-4" role="button">Menuga qaytish</a>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">To'lov Turini tanlang</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-12">
                        <div class="shipping-box">
                            <a href="#">
                                <i class="iconsax icons" data-icon="box-tick"></i>
                            </a>
                            <div class="shipping-details">
                                <div class="shipping-info">
                                    <h4>Ketayotganda to'lash</h4>
                                </div>
                                <div class="price">
                                    <div class="form-check form-check-reverse">
                                        <input class="form-check-input" type="radio" name="exampleRadio" id="radio1"
                                               value="option2" checked/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="shipping-box">
                            <a href="#">
                                <i class="iconsax icons" data-icon="package"></i>
                            </a>
                            <div class="shipping-details">
                                <div class="shipping-info">
                                    <h4>Karta orqali to'lash</h4>
                                </div>
                                <div class="price">
                                    <div class="form-check form-check-reverse">
                                        <input class="form-check-input" type="radio" name="exampleRadio" id="radio2"
                                               value="option2"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn theme-btn w-100 mt-4" id="send_order">Jo'natish</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- iconsax js -->
<script src="/static/assets/js/iconsax.js"></script>

<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="/static/assets/js/bootstrap.bundle.min.js"></script>

<!-- script js -->
<script src="/static/assets/js/script.js"></script>

<script>
    // Function to show the success modal
    function showSuccessModal() {
        $('#success').modal('show');  // Assuming you are using Bootstrap modal
    }

    function showErrorAlert(message) {
        alert(message);
    }

    document.addEventListener("DOMContentLoaded", function () {
        // Get the modal element
        var myModal = new bootstrap.Modal(document.getElementById('myModal'));

        // Get the send_order button
        var sendOrderButton = document.getElementById('send_order');

        // Add a click event listener to the send_order button
        sendOrderButton.addEventListener('click', function (e) {
            // Check which radio button is selected
            var radio1 = document.getElementById('radio1');
            var radio2 = document.getElementById('radio2');
            if (!checkTableIdInSession()) {
                showErrorAlert("Siz faqat qr-menu orqali buyurtma berishingiz mumkin !" +
                    "Iltimos qr-menu orqali qayta buyurtma bering !");


                return;
            }

            if (radio2.checked) {
                // Perform actions when the first radio button is selected
                console.log("Karta orqali to'lash is selected");
                window.location.replace("/payment/");

                // Add your custom logic here
            } else if (radio1.checked) {
                // Perform actions when the second radio button is selected
                console.log("Ketayotganda to'lash is selected");

                // Add your custom logic here

                $.ajax({
                    type: "GET",
                    url: "/make-order/",
                    success: function (data) {
                        e.preventDefault();  // Prevent the default behavior of the link

                        if (data.status === "success") {
                            myModal.hide()
                            showSuccessModal();   // Call the function to show the success modal
                        } else if (data.status === "error") {
                            showErrorAlert(data.message);  // Call the function to show the error alert
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle AJAX errors here
                        console.error(xhr.responseText);
                    }
                });
            }

            // Close the modal after handling the button selection
            myModal.hide();
        });
    });
    // Event handler for the "Jo'natish" link click


    // Function to check if 'table_id' exists in the session
    function checkTableIdInSession() {
        return Boolean('{{ request.session.table_id }}');
    }
</script>


<script>
    /*====================
 Plus Minus Quantity Item js
=======================*/
    const plusMinus = document.querySelectorAll(".plus-minus ");

    for (var i = 0; i < plusMinus.length; ++i) {
        const addButton = plusMinus[i].querySelector(".add");
        const subButton = plusMinus[i].querySelector(".sub");
        addButton?.addEventListener("click", function () {
            const inputEl = this.parentNode.querySelector("input[type='number']");
            if (inputEl.value < 10) {
                document.getElementById('cart-total').innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>'
                document.getElementById(`cart-quantity-${inputEl.getAttribute('data-product-id')}`).innerHTML = `Soni : <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`;
                inputEl.value = Number(inputEl.value) + 1;
                $.ajax({
                    type: "POST",
                    url: "/change-quantity/",
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                    data: {
                        product_id: inputEl.getAttribute('data-product-id'),
                        change_method: "plus",
                    },
                    success: function (data) {
                        inputEl.value = data['quantity'];
                        document.getElementById(`cart-quantity-${inputEl.getAttribute('data-product-id')}`).innerHTML = `Soni : ${data['quantity']}`;
                        document.getElementById('cart-total').innerHTML = `${String(data['cart_total']).slice(0, -2).replace(/\B(?=(\d{3})+(?!\d))/g, ' ')} so'm`
                    }
                })
            }
        });
        subButton?.addEventListener("click", function () {
            const inputEl = this.parentNode.querySelector("input[type='number']");
            if (inputEl.value > 1) {
                document.getElementById('cart-total').innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>'
                document.getElementById(`cart-quantity-${inputEl.getAttribute('data-product-id')}`).innerHTML = `Soni : <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`;
                inputEl.value = Number(inputEl.value) - 1;
                $.ajax({
                    type: "POST",
                    url: "/change-quantity/",
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                    data: {
                        product_id: inputEl.getAttribute('data-product-id'),
                        change_method: "minus",
                    },
                    success: function (data) {
                        inputEl.value = data['quantity'];
                        document.getElementById(`cart-quantity-${inputEl.getAttribute('data-product-id')}`).innerHTML = `Soni : ${data['quantity']}`;
                        document.getElementById('cart-total').innerHTML = `${String(data['cart_total']).slice(0, -2).replace(/\B(?=(\d{3})+(?!\d))/g, ' ')} so'm`
                    }
                })
            }
        });
    }

    /*======================
     delate Quantity Item js
    =======================*/
    const cartBox = document.querySelectorAll(".cart-product-box");
    cartBox?.forEach((el) => {
        const deleteButton = el.querySelector(".trash");
        deleteButton.addEventListener("click", function () {
            document.getElementById('cart-total').innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>'
            var cart_product_box = this.closest(".cart-product-box")
            cart_product_box.style.display = "none";
            $.ajax({
                type: "GET",
                url: "/delete-cart-item/" + this.getAttribute("data-product-id") + "/",
                success: function (data) {
                    if (data['cart_total'] === '0') {
                        window.location.replace('/cart/')
                    } else {
                        document.getElementById('cart-total').innerHTML = `${String(data['cart_total']).slice(0, -2).replace(/\B(?=(\d{3})+(?!\d))/g, ' ')} so'm`
                    }
                },
                error: function (data) {
                    cart_product_box.style.display = "block";
                }
            })
        });
    });
</script>
</body>
</html>
