/*=====================
  Nav CSS start
==========================*/
.navbar-menu {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 17px 20px;
  z-index: 2;
  max-width: 600px;
  background-color: rgba(var(--white), 1);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.07);

  @media (max-width: 767px) {
    max-width: 100%;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      position: relative;
      color: rgba(var(--light-text), 1);
      text-align: center;

      a {
        color: rgba(var(--light-text), 1);

        .icon {
          width: 20px;
          font-size: 26px;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          justify-content: center;

          .active {
            display: none;
          }

          .unactive {
            display: block;
          }
        }

        span {
          font-size: 14px;
          font-weight: 500;
        }
      }

      &.active {
        &::after {
          content: "";
          position: absolute;
          top: -17px;
          left: 10px;
          width: 30px;
          height: 4px;
          background: rgba(var(--theme-color), 1);
          transform: translate(-50%);
          border-radius: 10px;
        }

        .icon {
          color: rgba(var(--theme-color), 1);
          display: flex;
          justify-content: center;

          .active {
            display: block;
          }

          .unactive {
            display: none;
          }
        }

        span {
          color: rgba(var(--theme-color), 1);
          font-weight: 500;
        }
      }
    }
  }
}