/*=====================
    Empty Tab CSS start
==========================*/
.empty-tab {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  h2 {
    position: relative;
    margin-top: 10px;
    color: rgba(var(--theme-color), 1);
  }

  h5 {
    position: relative;
    color: rgba(var(--light-text), 1);
    font-weight: 400;
    line-height: 1.5;
  }

  .empty-img {
    margin-top: 100px;


    &.img1 {
      margin-bottom: -80px;
    }
  }
}